<h2>My Heroes</h2>
<h2>
  <ul class="heroes"> <!--元素中的class关键字好像和css密切相关-->
    <!--*ngfor是复写器指令，能遍历数组从而生成多个自己的宿主元素，比如下文的li元素-->
    <!--html里，属性“=”之后双引号的内容不一定是值，还可以是一些列操作语句，=中并不是单纯的赋值语句-->
    <li *ngFor="let everyHero of heroes"
        [class.selected]="everyHero==selectedHero"
        (click)="onSelect(everyHero)">
      <!--定义一个变量用来遍历heroes这个数组-->
      <span class="badge">{{everyHero.id}}</span>
      {{everyHero.name}}
    </li>
  </ul>
</h2>


<!--通过@input装饰器使这个元素能够接收数据-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<button (click)="getHeroes()">Got Heroes again</button>

